<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ubicación tiempo real</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />

     <link  rel="stylesheet"  href="/stylesheets/leaflet.css" />
     <link  rel="stylesheet"  href="/stylesheets/MarkerCluster.css" />
     <link  rel="stylesheet"  href="/stylesheets/MarkerCluster.Default.css" />
     <link  rel="stylesheet"  href="/stylesheets/leaflet.awesome-markers.css" />
     <link  rel="stylesheet"  href="/stylesheets/font-awesome.css"  />
    <link  rel="stylesheet"   href="/stylesheets/toastr.css" rel="stylesheet" />


  </head>
  <body>
    <div>
      <h1>Ubicación tiempo real</h1>
    </div>
    <div id="map" style="height: 800px"></div>
    <div id="location-data" style="display:none">
      <h2>Location Data</h2>
      <ul id="location-list"></ul>
    </div>

    <script  src="/javascripts/leaflet.min.js"></script>
    <script  src="/javascripts/socket.io.min.js" ></script>
    <script src="/javascripts/leaflet.markercluster-src.js"></script>
    <script src="/javascripts/leaflet.awesome-markers.js"></script>
    <script src="/javascripts/jquery3.7.1.js"></script>
    <script src="/javascripts/toastr.min.js"></script>
    <script src="/javascripts/script.js"></script>


  </body>

  <script type="application/javascript">

    $( document ).ready(function() {
      var control =  $(".leaflet-control-attribution");
      control.css('display','none');

      var queries = {};



    if(document.location.search.length>0) {
      $.each(document.location.search.substr(1).split('&'), function (c, q) {
        var i = q.split('=');
        queries[i[0].toString()] = i[1].toString();
      });

      sessionStorage.setItem("codigo",queries["pers_id"]);
      sessionStorage.setItem("cia",queries["cia"]);
      sessionStorage.setItem("fdoc",queries["fdoc"]);
      sessionStorage.setItem("cbd",queries["c_bd"]);

      //console.log(Object.keys(queries).length);
      var arrcust=[];

      $.ajax({
        url: "/getlistado",
        type:'POST',
        data:{
          "c_usu":queries["c_usu"],
          "c_cla":queries["c_cla"],
          "c_bd":queries["c_bd"],
          "td":queries["td"],
          "cia": queries["cia"],
          "fdoc": queries["fdoc"],
          "pers_id": queries["pers_id"]

        },
        dataType: 'json',
        success: function(res) {
          if(res.length>0){
            $.each(res, function (i, field) {
              arrcust.push(field);
            });

            sessionStorage.setItem("lscliente",JSON.stringify(arrcust));
          }else{
            toastr.info('no se encontráron datos.','Aviso',{  positionClass:"toast-top-full-width",  preventDuplicates: true,   onclick: null, closeButton: false});
          }

        },   error: function (xhr, ajaxOptions, thrownError) {
          if (xhr.status==404){
            toastr.error('Error al obtener los datos del cliente.','Error',{  positionClass:"toast-top-full-width",  preventDuplicates: true,   onclick: null, closeButton: false});
          }
        }
      });

    }else{
      toastr.info('no se encontraron los parametros en la url de la web.','Error',{  positionClass:"toast-top-full-width",  preventDuplicates: true,   onclick: null, closeButton: false});
    }
    });


  </script>
</html>
